@font-face {
  font-family: "iconfont"; /* Project id 2618024 */
  src: url('iconfont.woff2?t=1623981486235') format('woff2'),
       url('iconfont.woff?t=1623981486235') format('woff'),
       url('iconfont.ttf?t=1623981486235') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 3191657 */
  src: url('iconfont_form.woff2?t=1645175052571') format('woff2'),
  url('iconfont_form.woff?t=1645175052571') format('woff'),
  url('iconfont_form.ttf?t=1645175052571') format('truetype'),
  url('iconfont_form.svg?t=1645175052571#iconfont') format('svg');
}

[class*=" icon-"],[class^=icon-]  {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gendantuoshouchaxun:before {
  content: "\e631";
}

.icon-baozhengjincunru:before {
  content: "\e634";
}

.icon-zhangbuguanlianguizeguanli:before {
  content: "\e635";
}

.icon-dianzihuidan:before {
  content: "\e636";
}

.icon-duojizhangbuyuetiaozhang:before {
  content: "\e63a";
}

.icon-beishubaozheng:before {
  content: "\e640";
}

.icon-weidaizijinchiguijimingxichaxun:before {
  content: "\e657";
}

.icon-weituodaikuanjiekuanmingxichaxun:before {
  content: "\e659";
}

.icon-goumai-zaixianlicai:before {
  content: "\e661";
}

.icon-qiyejihuo:before {
  content: "\e663";
}

.icon-fplr:before {
  content: "\e62d";
}

.icon-examine:before {
  content: "\e6a4";
}

.icon-weishenhe:before {
  content: "\e665";
}

.icon-yishenhe:before {
  content: "\e669";
}

.icon-weixuan:before {
  content: "\e616";
}

.icon-xuanzhong:before {
  content: "\e617";
}

.icon-shenhezhong:before {
  content: "\e627";
}

.icon-icon_list_luru:before {
  content: "\e61b";
}

.icon-shouye-xianxing:before {
  content: "\e638";
}

.icon-caidan-xianxing:before {
  content: "\e639";
}

.icon-xiazai-xianxing:before {
  content: "\e63f";
}

.icon-shaixuan-xianxing:before {
  content: "\e641";
}

.icon-fankui:before {
  content: "\e647";
}

.icon-fenxiang:before {
  content: "\e648";
}

.icon-riqi:before {
  content: "\e649";
}

.icon-shuaxin:before {
  content: "\e64a";
}

.icon-weixuan1:before {
  content: "\e64b";
}

.icon-daochuwenjian:before {
  content: "\e64e";
}

.icon-baocun:before {
  content: "\e64f";
}

.icon-daishenhe:before {
  content: "\e650";
}

.icon-wendang-xianxing:before {
  content: "\e656";
}

.icon-shuju-xianxing:before {
  content: "\e65c";
}

.icon-zhishu-xianxing:before {
  content: "\e65d";
}

.icon-shujutongji-xianxing:before {
  content: "\e660";
}

.icon-shuxing-xianxing:before {
  content: "\e662";
}

.icon-fagui:before {
  content: "\e666";
}

.icon-quanxian-xianxing:before {
  content: "\e667";
}

.icon-mingxi-xianxing:before {
  content: "\e66d";
}

.icon-excel:before {
  content: "\e66e";
}

.icon-word:before {
  content: "\e66f";
}

.icon-PDF:before {
  content: "\e670";
}

.icon-tupian:before {
  content: "\e671";
}

.icon-lianjie:before {
  content: "\e672";
}

.icon-daoruwenjian:before {
  content: "\e673";
}

.icon-shenhe:before {
  content: "\e637";
}

.icon-shenhe1:before {
  content: "\e610";
}

.icon-shenhetongguo:before {
  content: "\efa0";
}

.icon-shenheliuchengshezhi:before {
  content: "\e6d6";
}

.icon-butongguo:before {
  content: "\e6cd";
}

.icon-shenhezhong1:before {
  content: "\e6ce";
}

.icon-huitui:before {
  content: "\e6cf";
}

.icon-weidu:before {
  content: "\e6d0";
}

.icon-yidu:before {
  content: "\e6d1";
}

.icon-yishenhe1:before {
  content: "\e6d2";
}

.icon-upfile:before {
  content: "\e606";
}

.icon-daishenhe1:before {
  content: "\e6d5";
}

/*------------------------------------*/
.icon-xiangyou:before {
  content: "\e626";
}

.icon-xiangzuo:before {
  content: "\e627";
}

.icon-shangyibu:before {
  content: "\e620";
}

.icon-xiayibu:before {
  content: "\e622";
}
